p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 0em 1em 1em 4em;
  margin-bottom: 10px;
  border: 3px solid grey;
  border-radius: 10px;
  background: 5px center/3em no-repeat;
}

.action {
  background-image: url("images/action.png");
}

.information {
  background-image: url("images/information.png");
}

.warning {
  background-image: url("images/warning.png");
}
